:root {
    --brand-color: #e1e1e1;
    --text-gray: #95a5a6;
}

* {
    box-sizing: border-box;
}
img {
    vertical-align: middle;
}
body {
    background: rgb(204, 204, 204);
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    overflow: auto;
}

page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
    position: relative;
}

@media print {
    body,
    page {
        margin: 0;
        box-shadow: 0;
        -webkit-print-color-adjust: exact;
        font-family: 'Montserrat', sans-serif;
        box-shadow: none;
    }

    @page  
    { 
        size: auto;
        margin: 0;  
        font-family: 'Montserrat', sans-serif;
    } 
    
}

/* Sections */
section {
    padding: 0.4cm;
    border-radius: 4px;
    position: relative;
    overflow: auto;
}

section .title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14pt;
    margin-bottom: 0.5cm;
}

section#me {
    height: 7cm;
    padding: 0;
    margin: 0.4cm;
    background: var(--brand-color);
}

section#me > .image {
    position: absolute;
    right: 0;
    top: 0;
    height: 7cm;
    width: 7cm;
    border-radius: 0 0 4px 0;
}
section#me > .image .image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
section#me img {
    width: 100%;
}
section#me .triangle {
    position: absolute;
    z-index: 2;
    top: 0;
    left: -2px;
    border-top: 7cm solid var(--brand-color);
    border-right: 0.8cm solid transparent;
}
section#me .details {
    height: 100%;
    width: 13.5cm;
    padding: 0.5cm;
    float: left;
}
section#me .details .contact {
    width: 100%;
    float: left;
}
section#me .details .name {
    font-size: 14pt;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1cm;
}

section#me .details .detail {
    line-height: 0.6cm;
    margin-bottom: 0.15cm;
    margin-left: 0.2cm;
    font-size: 10pt;
    display: flex;
}
section#me .details .detail .caption {
    font-weight: 500;
    text-transform: uppercase;
    width: 2cm;
}
section#me .details .detail > img {
    width: 0.6cm;
    height: 0.6cm;
    margin-right: 0.2cm;
}
section#me .details .detail .value {
    padding-left: 0.7cm;
}

section#me .underimg {
    position: absolute;
    right: 0;
    top: 7cm;
    height: 2cm;
    line-height: 0.6cm;
    font-size: 9pt;
    text-align: right;
    width: 7cm;
    color: #555;
}

section#me .links {
    float: right;
    clear: both;
    margin-top: 0.3cm;
    display: flex;
    padding-right: 0.4cm;
}

section#me .links .link {
    margin: 0.2cm 0.4cm 0.2cm 0;
}

section#me .links img {
    width: 0.6cm;
}

section#me .links .link a {
    line-height: 0.6cm;
    color: #333333;
}

/* Education & experience */
.experience-boxes-container {
    padding-left: 0.2cm;
    padding-right: 0.2cm;
    display: flex;
    flex-flow: row wrap;
}
.experience-box {
    width: 50%;
    padding-right: 1cm;
    padding-bottom: 0.8cm;
}

.experience-box.no-margin {
    padding-bottom: 0;
}

.experience-box .dates {
    font-size: 9pt;
    color: var(--text-gray);
    margin-bottom: 0.1cm;
    font-weight: 300;
}

.experience-box .name {
    font-weight: 600;
    text-transform: uppercase;
}

.experience-box .desc {
    margin-top: 0.1cm;
    font-size: 9pt;
    color: rgba(0, 0, 0, 0.9);
}

/* Languages */
section#languages {
    float: left;
    width: 55%;
}
.language-charts {
    padding-left: 0.2cm;
    padding-right: 0.2cm;
}

.language-charts > div {
    float: left;
    width: 25%;
}

/* Technologies section */
section#technologies .tech {
    margin-bottom: 0.2cm;
    overflow: auto;
}
section#technologies .tech .label {
    line-height: 0.7cm;
    height: 0.7cm;
    font-weight: 500;
    border-radius: 4px 0 0 4px;
    color: white;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.2);
    background: red;
    width: 10%;
    float: left;
    clear: left;
    text-align: right;
    padding-right: 0.3cm;
}

section#technologies .tech .meter {
    float: left;
    width: 90%;
    border-left: none;
    border-radius: 0 4px 4px 0;
    line-height: 0.7cm;
    position: relative;
}

section#technologies .tech .meter {
    min-width: 1px;
    height: 0.7cm;
    display: inline-block;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

section#technologies .tech .meter .comment {
    position: absolute;
    right: 10px;
    font-size: 8pt;
    font-weight: 300;
}
section#technologies .tech .meter .value {
    height: 100%;
    border-radius: 0 4px 4px 0;
    position: absolute;
    left: 0;
}

section#technologies .tech.first .label {
    background: #27ae60;
}
section#technologies .tech.first .meter .value {
    background: #2ecc71;
}
section#technologies .tech.second .label {
    background: #16a085;
}
section#technologies .tech.second .meter .value {
    background: #1abc9c;
}
section#technologies .tech.third .label {
    background: #2980b9;
}
section#technologies .tech.third .meter .value {
    background: #3498db;
}
section#technologies .tech.fourth .label {
    background: #8e44ad;
}
section#technologies .tech.fourth .meter .value {
    background: #9b59b6;
}
section#technologies .tech.fifth .label {
    background: #2c3e50;
}
section#technologies .tech.fifth .meter .value {
    background: #34495e;
}

/* Other skills */
section#other-skills {
    float: left;
    width: 45%;
}
section#other-skills .skill {
    background: #e1e1e1;
    font-weight: 500;
    float: left;
    padding: 0.1cm 0.5cm;
    border-left: 3px solid red;
    border-radius: 2px;
    margin-right: 0.2cm;
    margin-bottom: 0.1cm;
}

section#other-skills .skills {
    overflow: auto;
}
section#other-skills .skill.beginner, section#other-skills .legend .level.beginner::before {
    border-color: #2ecc71;
}

section#other-skills .skill.intermediate, section#other-skills .legend .level.intermediate::before {
    border-color: #3498db;
}
section#other-skills .skill.advanced, section#other-skills .legend .level.advanced::before {
    border-color: #8e44ad;
}

section#other-skills .legend {
    margin-top: 0.15cm;
}
section#other-skills .legend .level {
    line-height: 0.5cm;
    float: left;
    margin-right: 0.3cm;
}

section#other-skills .legend .level::before {

    position: relative;
    content: ' ';
    display: inline-block;
    width: 0.3cm;
    border-top: 2px solid red;
    vertical-align: middle;
}

/* Interests section */
section#interests {
    float: left;
    width: 65%;
}
section#interests .interest {
    float: left;
    width: 25%;
}
section#interests .interest img {
    width: 2cm;
    display: block;
    margin: 0 auto 0.2cm;
}
section#interests .interest .value {
    text-align: center;
    font-size: 9pt;
    margin-bottom: 0.1cm;
}
/* About me section */
section#aboutme {
    float: left;
    width: 35%;
}

section#aboutme .content {
    padding-left: 0.2cm;
    text-align: justify;
}

/* Projects sections */
section#projects .projects .header {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    overflow: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 0.2cm;
    padding-bottom: 0.1cm;
}

section#projects .projects .row {
    overflow: auto;
    clear: left;
}

section#projects .projects .project-name {
    float: left;
    width: 23%;
    text-align: center;
    padding-right: 0.2cm;
}
section#projects .projects .project-desc {
    float: left;
    width: 77%;
    text-align: justify;
    padding-right: 0.3cm;
}
section#projects .projects .row .project-name .name {
    font-size: 11pt;
    font-weight: 500;
}
section#projects .projects .row .project-name .date {
    font-size: 9pt;
    color: rgba(0, 0, 0, 0.9);
}
section#projects .projects .row .project-name .comment {
    font-size: 9pt;
    color: var(--text-gray);
}
section#projects .projects .spacer {
    width: 70%;
    height: 2px;
    margin: 0.3cm auto 0.3cm;
    border-radius: 1px;
    background: red;
}
section#projects .projects .spacer1 {
    background: #1abc9c;
}
section#projects .projects .spacer2 {
    background: #2ecc71;
}
section#projects .projects .spacer3 {
    background: #27ae60;
}
section#projects .projects .spacer4 {
    background: #16a085;
}
section#projects .projects .spacer5 {
    background: #3498db;
}
section#projects .projects .spacer6 {
    background: #2980b9;
}

/* Organizations section */
section#organizations .organization {
    overflow: auto;
    margin-bottom: 0.2cm;
}
section#organizations .organization:last-of-type {
    margin-bottom: 0;
}
section#organizations .organization .details {
    float: left;
    width: 20%;
}
section#organizations .organization .desc {
    float: left;
    width: 80%;
    padding-top: 0.3cm;
    text-align: justify;
}

section#organizations .organization .links {
    margin-top: 0.3cm;
    text-align: right;
}
section#organizations .organization .links a {
    color: #2ecc71;
    display: block;
}

section#organizations .organization .details .name {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11pt;
}
section#organizations .organization .details .image > * {
    display: block;
    width: 2cm;
    margin: 0.4cm auto 0.3cm;
    border-radius: 4px;
}


section#confidentialy-clause {
    position: absolute;
    bottom: 0;
    font-size: 8pt;
    color: var(--text-gray);
    font-weight: 300;
    text-align: justify;
}

#timeline {
    $leftColumnWidth: 4cm;
    $yearWidth: 1cm;
    $yearHeight: 0.5cm;
    $currentLineHeight: 0.5cm;

    position: relative;
    .current-line {

        position: absolute;
        z-index: 0;
        top: 0;
        left: $leftColumnWidth;
        height: $currentLineHeight;
        border-radius: 1px;
        border-left: 1px dashed #2ecc71;
        border-right: 1px dashed #2ecc71;
    }
    .line {
        position: absolute;
        z-index: 0;
        top: $currentLineHeight;
        left: $leftColumnWidth;
        height: calc(100% - #{$currentLineHeight} - 4px);
        border-radius: 1px;
        width: 2px;
        background: linear-gradient(to bottom, #2ecc71, #27ae60, #1abc9c, #16a085, #3498db, #2980b9);
    }

    .year-wrapper {
        position: relative;
        height: $yearHeight;

        .year {
            position: absolute;
            margin-left: $leftColumnWidth - $yearWidth/2;
            width: $yearWidth;
            display: inline-block;
            z-index: 2;
    
            text-align: center;
            line-height: $yearHeight;
            border-radius: 2px;
    
    
            font-weight: 600;
            color: white;
            background: red;

            &.first {
                background: #2ecc71;
            }
            &.second {
                background: #27ae60;
            }
            &.third {
                background: #1abc9c;
            }
            &.fourth {
                background: #16a085;
            }
            &.fifth {
                background: #3498db;
            }
            &.sixth {
                background: #2980b9;
            }
        }
    }

    .row {
        display: flex;
        margin: 0.2cm 0;

        &.first {
            padding-top: 0.3cm;
        }

        .project-name {
            flex: 0 0 $leftColumnWidth;
            text-align: center;
            font-weight: bold;
        }

        .project-desc {
            flex-grow: 1;
            padding: 0 0.3cm;
            text-align: justify;
            
            .comment {
                color: var(--text-gray);
            }
        }
    }
}