:root {
    --brand-color: #3498db;
    --text-gray: #95a5a6;
}

* {
    box-sizing: border-box;
}
img {
    vertical-align: middle;
}
body {
    background: rgb(204, 204, 204);
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    overflow: auto;
}

page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

@media print {
    body,
    page {
        margin: 0;
        box-shadow: 0;
        -webkit-print-color-adjust: exact;
    }
}

/* Sections */
section {
    padding: 0.4cm;
    border-radius: 4px;
    position: relative;
    overflow: auto;
}

section .title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14pt;
    margin-bottom: 0.5cm;
}

section#me {
    height: 7cm;
    color: #eeeeee;
}

section#me > img {
    position: absolute;
    right: 0;
    top: 0;
    height: 7cm;
}

section#me .details {
    background: var(--brand-color);
    height: 100%;
    width: 13.5cm;
    padding: 0.5cm;
}

section#me .details .name {
    font-size: 12pt;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.5cm;
}

section#me .details .detail {
    line-height: 0.6cm;
    margin-bottom: 0.1cm;
    margin-left: 0.2cm;
    font-size: 10pt;
}
section#me .details .detail > img {
    width: 0.6cm;
    margin-right: 0.2cm;
}

section#me .triangle {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 13.2cm;
    border-top: 7cm solid var(--brand-color);
    border-right: 0.8cm solid transparent;
}

section#me .links {
    position: absolute;
    bottom: 0.2cm;
    padding-left: 0.3cm;
}

section#me .links .link {
    margin-bottom: 0.1cm;
}

section#me .links img {
    width: 0.6cm;
    margin-right: 0.2cm;
    filter: grayscale(100%);
}

section#me .links .link a {
    line-height: 0.6cm;
    color: #eeeeee;
}

/* Education & experience */
.experience-boxes-container {
    padding-left: 0.2cm;
    padding-right: 0.2cm;
}
.experience-box {
    float: left;
    width: 50%;
    padding-right: 1cm;
    padding-bottom: 0.8cm;
}

.experience-box.no-margin {
    padding-bottom: 0;
}

.experience-box .dates {
    font-size: 9pt;
    color: var(--text-gray);
    margin-bottom: 0.2cm;
}

.experience-box .name {
    font-weight: 600;
    text-transform: uppercase;
}

.experience-box .desc {
    margin-top: 0.2cm;
    font-size: 9pt;
}

/* Languages */
section#languages {
    float: left;
    width: 55%;
}
.language-charts {
    padding-left: 0.2cm;
    padding-right: 0.2cm;
}

.language-charts > div {
    float: left;
    width: 25%;
}

/* Technologies section */
section#technologies .tech {
    margin-bottom: 0.2cm;
    overflow: auto;
}
section#technologies .tech .label {
    line-height: 0.7cm;
    height: 0.7cm;
    font-weight: 500;
    border-radius: 4px 0 0 4px;
    color: white;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.2);
    background: red;
    width: 10%;
    float: left;
    clear: left;
    text-align: right;
    padding-right: 0.3cm;
}

section#technologies .tech .meter {
    float: left;
    width: 90%;
    border-left: none;
    border-radius: 0 4px 4px 0;
    line-height: 0.7cm;
    position: relative;
}

section#technologies .tech .meter {
    min-width: 1px;
    height: 0.7cm;
    display: inline-block;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

section#technologies .tech .meter .comment {
    position: absolute;
    right: 10px;
    font-size: 8pt;
}
section#technologies .tech .meter .value {
    height: 100%;
    border-radius: 0 4px 4px 0;
    position: absolute;
    left: 0;
}

section#technologies .tech.php .label {
    background: #27ae60;
}
section#technologies .tech.php .meter .value {
    background: #2ecc71;
}
section#technologies .tech.csharp .label {
    background: #16a085;
}
section#technologies .tech.csharp .meter .value {
    background: #1abc9c;
}
section#technologies .tech.python .label {
    background: #2980b9;
}
section#technologies .tech.python .meter .value {
    background: #3498db;
}
section#technologies .tech.java .label {
    background: #8e44ad;
}
section#technologies .tech.java .meter .value {
    background: #9b59b6;
}
section#technologies .tech.cpp .label {
    background: #2c3e50;
}
section#technologies .tech.cpp .meter .value {
    background: #34495e;
}

/* Other skills */
section#other-skills {
    float: left;
    width: 45%;
}
section#other-skills .skill {
    background: #e1e1e1;
    font-weight: 500;
    float: left;
    padding: 0.1cm 0.5cm;
    border-left: 3px solid red;
    border-radius: 2px;
    margin-right: 0.2cm;
    margin-bottom: 0.1cm;
}

section#other-skills .skills {
    overflow: auto;
}
section#other-skills .skill.beginner, section#other-skills .legend .level.beginner::before {
    border-color: #2ecc71;
}

section#other-skills .skill.intermediate, section#other-skills .legend .level.intermediate::before {
    border-color: #3498db;
}
section#other-skills .skill.advanced, section#other-skills .legend .level.advanced::before {
    border-color: #8e44ad;
}

section#other-skills .legend .level {
    line-height: 0.5cm;
    float: left;
    margin-right: 0.3cm;
}

section#other-skills .legend .level::before {

    position: relative;
    content: ' ';
    display: inline-block;
    width: 0.3cm;
    border-top: 2px solid red;
    vertical-align: middle;
}
